ion-icon
{
    width:40px;
    height:40px;
    color: black;
}

#center
{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#search
{
    margin-top: 13%;
}
#center
{
   
    padding:100px 0px;
    border: 1px solid black;
    width: 100%;
    height: auto;
    /* align-items: center; */
    justify-content: center;
}
.user
{
    width: 90%;
    height: 50px;
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(0,0,128);
    border-bottom:none;
}