ion-icon
{
    width:40px;
    height:40px;
    color: black;
}

#center
{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#search
{
    margin-top: 13%;
}